.parent{
    height: 100vh;
    width: 100vw;
    background-color: red;
    display: flex;
}
.left{
    height: 100%;
    width: 20%;
    background-color: teal;
}
.right{
    height: 100%;
    width: 80%;
    background-color: silver;
    overflow: auto;
    padding-left: 10px;
}